@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    font-size: 14px;
  }
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: var(--app-height); */
  height: -webkit-fill-available;

  /* background-color: hsl(100, 100%, 30%); */
}

/**
 * Tokens
 */
:root {
  --guide-opacity: 0;
}

/*
 * Misc
 */
/* input number hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* center-x slider mark */
.slider-mark-center-x {
  margin-left: calc(theme('width.thumb') / 2);
}
