@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 14px;
  }
  :root {
    --app-height: 100%;
  }
  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background: black;
  }
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Tokens
 */
:root {
  --guide-opacity: 0;
}

/*
 * Misc
 */
/* input number hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* center-x slider mark */
.slider-mark-center-x {
  margin-left: calc(theme('width.thumb') / 2);
}
