.linksWrapper {
  width: 100vw;
  height: fit-content;
  position: absolute;
  bottom: 9vh;
  // margin-top: 13vh;
  p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 8px;
  }
}

.iconWrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.mobileIconWrapper {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}
